@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --orange: #ffa500;
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

::selection{
    background:var(--orange);
    color: #fff;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

section{
    padding: 2rem 9%;
}

#navbar{
    background-color: transparent;
    position: fixed;
}

#navbar-detail{
    background-color: #252529;
    position: fixed;
    transition: padding 0.3s ease, position 0.3s ease;
}

.trans {
    transition: padding 0.3s ease;
}

.heading{
    text-align: center;
    padding: 2.5rem 0;
}

.heading span{
    font-size: 3.5rem;
    background: rgba(255, 165, 0, .2);
    color: var(--orange);
    border-radius: .5rem;
    padding: .2rem 1rem;
}

.heading span .space{
    background: none;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    background: #29d9d5;
    color: #fff;
    padding: .8rem 3rem;
    border: .2rem solid #29d9d5;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: bold;
}

.btn:hover{
    background: #252529;
    color: #29d9d5;
}

.warna{
    background-color: #252529 !important;
}

header{
    top:0; left:0;
    right: 0;
    background: #111;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 7%;
}

header .logo-container {
    display: flex;
    align-items: center;
    
}

header .logo img {
    width: 4rem;
    height: auto; 
    margin-right: 1rem;
}

header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #29d9d5;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}


header .logo span{
    color:white;
}

header .navbar a{
    color: #fff;
    font-size: 2.2rem;
    margin: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

header .navbar a:hover{
    color:#29d9d5;
    border-bottom: 3px solid #29d9d5;
}

header .icons i{
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    margin-right: 2rem;
}

header .icons i:hover{
    color:#29d9d5;

}

header .search-bar-container{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 1.5rem 2rem;
    background: #111;
    border-top: .1rem solid rgba(255,255,255,.2);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar{
    width: 100%;
    padding: 1rem;
    text-transform: none;
    color: #333;
    font-size: 1.7rem;
    border-radius: .5rem;
}

header .search-bar-container label{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
}

header .search-bar-container label:hover{
    color: #29d9d5;
}

.login-form-container{
    position: fixed;
    top: -120%;
    left: 0;
    z-index: 10000;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-container.active{
    top: 0;
}

.login-form-container form{
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    background: black;
    width: 50rem;
}

.login-form-container form h3{
    font-size: 3rem;
    color: #29d9d5;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}

.login-form-container form .box{
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    margin: .6rem 0;
    border: .1rem solid rgba(0,0,0,.3);
    text-transform: none;
    border-radius: 0.5rem;
}

.login-form-container form .box:focus{
    border-color: #29d9d5;
}

.login-form-container form #remember{
    margin: 2rem 0;
}

.login-form-container form label{
    font-size: 1.5rem;
    color: white;
}

.login-form-container form .btn{
    display: block;
    width: 100%;
    border-radius: 0.5rem;
}

.login-form-container form p{
    padding: .5rem 0;
    font-size: 1.5rem;
    color: white;
}

.login-form-container form p a{
    color: #29d9d5;
    text-decoration: none;
}

.login-form-container form p a:hover{
    color: #29d9d5;
    text-decoration: underline;
}

.login-form-container #form-close{
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;
    color: #fff;
    cursor: pointer;
}

#menu-bar{
    color:#fff;
    border: .1rem solid #fff;
    border-radius: .5rem;
    font-size: 3rem;
    padding: .5rem 1.2rem;
    cursor: pointer;
    display: none;
}

.signup-form-container{
    position: fixed;
    top: -120%;
    left: 0;
    z-index: 10000;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-form-container.active{
    top: 0;
}

.signup-form-container form{
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: #111;
    width: 50rem;
}

.signup-form-container form h3{
    font-size: 3rem;
    color: #29d9d5;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}

.signup-form-container form .box{
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    margin: .6rem 0;
    border: .1rem solid rgba(0,0,0,.3);
    text-transform: none;
    border-radius: 0.5rem;
}

.signup-form-container form .box:focus{
    border-color: #29d9d5;
}

.signup-form-container form #remember{
    margin: 2rem 0;
}

.signup-form-container form label{
    font-size: 1.5rem;
}

.signup-form-container form .btn{
    display: block;
    width: 100%;
    border-radius: 0.5rem;
}

.signup-form-container form p{
    padding: 1rem 0;
    font-size: 1.5rem;
    color: white;
}

.signup-form-container form p a{
    color: #29d9d5;
    text-decoration: none;
}

.signup-form-container form p a:hover{
    text-decoration: underline;
}

.signup-form-container #form-close-signup{
    position: absolute;
    top: 2rem;
    right: 3rem;
    font-size: 5rem;
    color: #fff;
    cursor: pointer;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
}

.home .content{
    text-align: center;
}

.home .content h3{
    font-size: 3.5rem;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0,0,0, .1);
}

.home .content p{
    font-size: 3rem;
    color: #fff;
    padding: .5rem 0;

}

.home .video-container video{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.holiday{
    /* display: grid; */
    /* grid-template-columns: repeat(2, 1fr); */
    align-items: center;
    gap: 9rem;
}

.warna-holiday{
    background-color: #111 !important;
}

.holiday-img img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.holiday-text h5{
    font-size: 30px;
    font-weight: bold;
    color: #29d9d5;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 20px;
}

.holiday-text h2{
    font-size: 24px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 25px;
    color: white;
}

.holiday-text p{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #111;
    margin-bottom: 35px;
    color: white;
}

.center-text{
    text-align: center;
}

.center-text h1{
    font-size: 40px;
    font-weight: bold;
    color: #29d9d5;
    margin-top: 2rem;
}

.tour{
    background-color: #111;
}

.tour-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.tour-content .box{
    position: relative;
}

.tour-content .box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(70%);
    transition: all .3s cubic-bezier(.499,.05,.55,.95);
    will-change: filter;
    display: block;
}

.tour-content .box h6{
    position: absolute;
    left: 25px;
    bottom: 95px;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.tour-content .box h4{
    position: absolute;
    left: 25px;
    bottom: 65px;
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.marks-tour{
    color: #ffa500 !important;
}

.mark-tour{
    font-size: 24px;
}

.icon-location{
    font-size: 24px;
}

.img-corousel:hover{
    filter: brightness(90%) hue-rotate(20deg);
    transform: scale(1.04);
    cursor: pointer;
} 

.title-corousel {
    font-size: 18px;
    font-weight: 500;
    color: white;
}

.desc-corousel {
    font-size: 18px;
    font-weight: 700;
    color: white;
}

.culture{
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    align-items: center;
    gap: 9rem;
}

.culture-img img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.culture-text h5{
    font-size: 30px;
    font-weight: bold;
    color: #29d9d5;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 20px;
}

.culture-text h2{
    font-size: 24px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 25px;
    color: white;
}

.culture-text p{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #111;
    margin-bottom: 35px;
    color: white;
}


/* media queries */



@media (max-width: 991px){
    
    header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }

    .container{
        flex-direction: column;
    }

    .container .contactInfo{
        margin-bottom: 40px;
    }

    .container .contactInfo,
    .contactForm{
        width: 100%;
    }
}

@media (max-width: 768px){
    
   #menu-bar{
    display: initial;
   }

   header .navbar{
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background: #111;
    border-top: .1rem solid rgba(255,255,255, .2);
    padding: 1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .navbar a{
    display: block;
    width: 100%;
    text-align: center;
    border-radius: .5rem;
    padding: 1.5rem;
    margin: 1.5rem 0;
    background: transparent;
}

}

@media (max-width: 450px){

    html{
        font-size: 50%;
    } 

    .heading span{
        font-size: 2.5rem;
    }
}

.row .inputBox{
    text-align: center;
}

.contact{
    background-color: #111;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .content{
    color: white;
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 42px;
    font-weight: bold;
    color: #29d9d5;
}

.contact .content p{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}

.containers{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


.containers .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.containers .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 30px;
}

.containers .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 20px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.containers .contactInfo .box .text h3{
    font-size: 24px;
    font-weight: bold;
    color: #00bcd4;
}

.contactForm{
    padding: 40px;
    background: #fff;
    border-radius: 0.5rem;
}

.contactForm h2{
    font-size: 30px;
    color: #29d9d5;
    font-weight: bold;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 17px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #111;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #111;
    font-size: 15px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]{
    width: 100%;
    background: #29d9d5;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 0.5rem;
    font-weight: bold;
}

.contactForm .inputBox input[type="submit"]:hover{
    background: #252529;
    color: #29d9d5;
}

.footer{
    background: #252529;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box{
    padding: 1rem 0;
    flex: 1 1 25rem;

}

.footer .box-container .box a{
    text-decoration: none;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    padding: .7rem 0;
    color: #29d9d5;
}

.footer .box-container .box p{
    font-size: 1.9rem;
    padding: .7rem 0;
    color: #eee;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.9rem;
    padding: .7rem 0;
    color: #eee;
    text-decoration: none;
}

.footer .box-container .box a:hover{
    color: #29d9d5;
    text-decoration: none;
}

.footer .credit{
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    border-top: .1rem solid rgba(255,255,255,.2);
}

.footer .credit span{
    color: #29d9d5;
}

.wrapper{
    display: inline-flex;
    justify-content: center;
}

.wrapper .tooltip{
    font-weight: 600;
}

.wrapper .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrapper .icon span{
    position: relative;
    height: 50px;
    width: 50px;
    display: block;
    background: #fff;
    text-align: center;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55); 
}

.wrapper .icon span i{
    font-size: 25px;
    line-height: 50px;
}

.wrapper .icon:hover span{
    color: #fff;
}

.wrapper .icon .tooltip{
    position: absolute;
    top: 0px;
    background: #fff;
    color: #fff;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrapper .icon:hover .tooltip{
    top: -70px;
    opacity: 1;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
    text-shadow: 0 -1px 0px rgba(0,0,0,0.4);
}

.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip:before{
    background: #3B5999;
}

.wrapper .twitter:hover span,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip:before{
    background: #46C1F6;
}

.wrapper .whatsapp:hover span,
.wrapper .whatsapp:hover .tooltip,
.wrapper .whatsapp:hover .tooltip:before{
    background: #25d366;
}

.wrapper .instagram:hover span,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip:before{
    background: #E1306C;
}

.wrapper .youtube:hover span,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip:before{
    background: #DE463B;
}

.wrapper .facebook:hover .tooltip{
    top: -70px;
    opacity: 1;
    pointer-events: auto;
}

.wrapper .icon .tooltip:before{
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #fff;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.bintang{
    color: var(--orange);
    font-size: 24px;
}


.container .row .content h3{
    font-size: 24px;
    color: #29d9d5;
    font-weight: bold;
}

.container .row .content p{
    font-size: 16px;
    color: white;
}

.pt-10 {
    padding-top: 10rem;
}

.hitam{
    background-color: #111;
}

.img-fluid{
    border-radius: .5rem;
}

.card{
    border: 3px solid;
    border-radius: .7rem;
    background-color: #111;
}

.heart{
    color: white;
    font-size: 32px;
    margin-top: 5rem;
    cursor: pointer;
}

.heart:hover{
    color: red;
}

.detail-coro {
    background-color: rgba(0, 0, 0,0.5);
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.description .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.description .row image{
    flex: 1 1 40rem;
}

.description .row .image img{
    width: 100%;

}

.description .row form{
    flex: 1 1 40rem;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0, .1);
    border-radius: .5rem;
}

.description .row form .inputBox{
    padding: .5rem 0;
}

.description .row form .inputBox input{
    width: 100%;
    padding: 1rem;
    border: 1rem solid rgba(0,0,0, .1);
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
}

.description .row form .inputBox h3{
    font-size: 2rem;
    padding: 1rem 0;
    color: #666;
}

.destination .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 3rem;
}

.destination .box-container .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0, .1);
}

.destination .box-container .box img{
    min-height: 25rem;
    max-height: 25rem;
    width: 100%;
    object-fit: cover;
}

.destination .box-container .box .content{
    padding: 1.5rem;
}

.destination .box-container .box .content h3{
    font-size: 2rem;
    color: #29d9d5;
}

.destination .box-container .box .content h3 i{
    color: var(--orange);
}

.destination .box-container .box .content p{
   font-size: 1.8rem;
   padding: 1rem 0;
}

.destination .box-container .box .content .stars i{
   font-size: 1.7rem;
   color: var(--orange)
}

.destination .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.destination .row form{
    flex: 1 1 40rem;
    padding: 2rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0, .1);
    border-radius: .5rem;
}

.destination .row form .inputBox{
    padding: .5rem 0;
}

.destination .row form .inputBox input{
    width: 100%;
    padding: 1rem;
    border: 1rem solid rgba(0,0,0, .1);
    font-size: 1.7rem;
    color: #333;
    text-transform: none;
}

.destination .row form .inputBox h3{
    font-size: 2rem;
    padding: 1rem 0;
    color: #666;
}

.content-view {
    display: flex;
    flex-direction: column;
    height: 100%;
}
